*, *::before, *::after{
    box-sizing: border-box;
}

.panel {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .toggle-panel{
    background-color: white;
    border: white;
  }

.publication{
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}


body{
    background: #f1f1f1;
    font-family: sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    line-height: 2;
    margin-top: 70px;
}

a{
    color: inherit;
}

.navbar{
    background: #e74c3c;
    color: aliceblue;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
   
}

.navbar a{
    text-decoration: none;
}

.navbar-logo{
    display:block;
    text-align: center;
    font-size: 24px;
    padding: 11px 0;
}

.navbar-nav {
    text-align: center;
    padding-bottom: 16px;
}

.navbar-nav a {
    display: inline-block;
    margin:0 12px;
    color: rgba(255, 255, 255, 0.67);
    transition: color 0.3s;
}

.navbar-nav a:hover{
    color: white;
}

.container{
    padding: 0px 15px;
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
}

.site{
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar{
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    width: 50%;
    text-decoration: none;
    padding: 0.6em 0;
    transition: .3s;
    border: solid 1px transparent;
    padding-left: 10px;
}

.sidebar a::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 20px;
    opacity: .67;
    background: url(img/message.png) center center / contain no-repeat ;
    transition: opacity .3s;
}

.sidebar .sidebar-home::before{
    background-image: url(img/Home-icon.svg.png);
}

.sidebar .sidebar-amis::before{
    background-image: url(img/amis.svg);
}

.sidebar .sidebar-events::before{
    background-image: url(img/calendrier2.png);
}

.sidebar .sidebar-groupes::before{
    background-image: url(img/groupes.png);
}

.sidebar .sidebar-amis::before{
    background-image: url(img/amis.svg);
}

.sidebar a:hover{
    color: black;
    border: solid 1px grey;
    border-radius: 3px;
    background: white;
    font-weight: bold;
}

.sidebar a:hover::before{
    opacity: 1;
}

/* .card{
    border: solid 1px grey;
    border-radius: 3px;
    background: white;
    margin-bottom: 15px;
    margin-top: 20px;
    
} */
.card:last-child{
    margin-bottom: 0;
}

.card-header{
    padding: 10px;
    position: relative;
    
}

.card-header-avatar{
    padding-left: 65px;
}

.card-avatar{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.card-title{
    font-weight: bold;
    color:black ;
    font-size: 18px;
    margin: 5px 0;
}

.card-date{
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
}

.card-body{
    padding: 0 10px 30px 10px;
}

.card-body .fullwidth{
    width: calc(100% + 20px);
    display: block;
    margin-left: -10px;
    margin-right: -10px;
}

.card-body p:first-child{
    margin-top: 0;
}

.card-body p:last-child{
    margin-bottom: 0;
}

.card-footer{
    border-top:solid 1px grey ;
    background: white;
    display: flex;
    padding: 10px;
    font-size: 12px;
    color: grey;
    justify-content: space-between;
}

.card-footer a {
    text-decoration: none;
}

.card-footer a:hover {
    text-decoration: underline;
}

.card-like::before,
.card-comments::before{
    content: '';
    display:inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 18px;
    background: url(img/like.png) center center / 20px 18px no-repeat;
}

.card-comments::before{
    background: url(img/commentaire.png) center center / 18px 17px no-repeat;
}

.sidebar-title{
    margin-top: 30px;
    margin-bottom: 18px;
    color: black;
    font-size: 35px;
    font-weight: bold;
    
    
}

.sidebar-title::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 4px;
    background: black;
}

.friend{
    margin: 14px 0;
    display: flex;
}

.friend-avatar{
    width: 73px;
    height: 73px;
    flex: none;
    margin-right: 10px;
}

.friend-name{
    display: block;
    font-weight: bold;
    color: black;
}

.friend-add{
    font-size: 12px;
    color: black;
}


.left{
    padding-right:80%;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

@media only screen and (min-width:500px){
    .navbar{
        display: flex;
        justify-content:space-between;
        align-items: center;
        height: 64px;
        padding: 0 20px;
    }

    .navbar-logo,
    .navbar-nav{
        padding: 0;
    }

    .navbar-nav a{
        margin: 0 20px;
    }
}

@media only screen and (min-width:950px){
    .site{
        display: flex;
    }

    .sidebar{
        flex: none;
        display: block;
        width: 180px;
    }

    .sidebar a{
        width: 100%;
    }

    .main{
        width: 100%;
        margin-left: 200px;
        margin-right: 200px;
    }

    .aside{
        flex: none;
        width: 310px;
    }
}

@media (max-width: 500px) {
    .container{
        padding: 90px 15px;
    }

    .navbar{
        height: 100px;
    }
}

@media (max-width: 580px) {
    .navbar{
        height: 190px;
    }

    .container{
        padding: 120px 15px;
    }
}

@media (max-width: 320px) {
    .navbar{
        height: 210px;
    }

    .sidebar{
        margin-top: 170px;
    }
}

@media (max-width: 950px) {
    .sidebar-title{
        display: none;
    }
}


.filter-button.active{
    background-color: #e74c3c;
    color: white;
}